---
layout: layouts/base.njk
pagination:
    addAllPagesToCollections: true
    data: categories
    size: 1
    alias: category
permalink: "/category/{{ category.name | slugify }}/index.html"
eleventyComputed:
    title: "{{ category.name | capitalize }}"
    description: "Public Domain {{ category.name | capitalize }} for Game Developers"
---

<h1 class="text-capitalize">{{ category.name }}</h1>

<div class="asset-grid gap-3">
    {%- for asset in collections.gameAssets -%}
        {%- if category.name in asset.url -%}
            {%- include 'asset-card.njk' -%}
        {%- endif -%}
    {%- endfor -%}
</div>
