---
title: Homepage
layout: layouts/base.njk
---

<h1>Game Assets for everyone. Free of charge.</h1>
<p>
    This is a platform for sharing public domain video game assets—
    Sprites, textures, 3D models, music, sound effects, you name it.
</p>
<p>
    Everything on this site is public domain.
    You can use it all for any purpose, free of charge, forever.
    No attribution required.
</p>

<h2>Browse Assets by Category</h2>

<h2>Popular Assets</h2>