---
title: Homepage
layout: layouts/base.njk
---

<div class="row">
    <div class="col">
        <h1>Game Assets for the People</h1>
        <p>
            This site hosts public domain video game assets—sprites, textures, 3D models, music, sound effects, you name it.
        </p>
        <p>
            Everything on this site is licensed under Creative Commons 0.
            You can use it all for any purpose, free of charge, forever.
            No attribution required.
        </p>
        <p>
            This site hosts
            <span class="fw-bolder">{{ collections.gameAssets | length }}</span>
            game assets, with more on the way.
        </p>
    </div>
</div>

<div class="row">
    <div class="col mr-auto">
        <h2>Asset Categories</h2>
        <div class="asset-categories gap-3 mt-3 mb-4">
        {%- for category in categories -%}
        <div>
            <a href="/category/{{category.name}}" style="filter:brightness(1.3) contrast(1.5) saturate(1.1);" class="btn btn-outline-{{ category.color }} rounded-circle text-capitalize d-flex flex-column align-items-center justify-content-center">
                <i class="bi bi-{{category.icon}}"></i>
                <div>
                    {{ category.name }}
                </div>
            </a>
        </div>
        {%- endfor -%}
        </div>
    </div>
</div>

<h2>Featured Assets</h2>
<div class="asset-grid gap-3">
{%- for asset in collections.featured -%}
{%- include 'asset-card.njk' -%}
{%- endfor -%}
</div>