    <div class="card shadow">
    <img class="card-img-top w-100" title="{{ asset.data.title }} header image" src="/img/{{ asset.fileSlug | slugify }}-header-thumb.webp" alt="{{ asset.data.title }}">
    <div class="card-body d-flex align-items-center">
        <h3 class="card-title h5">
            <a href="{{ asset.url }}" class="stretched-link text-decoration-none text-light">{{ asset.data.title }}</a>
        </h3>
    </div>
    </div>