---
layout: layouts/base.njk
---

<div class="row">
    <div class="col-md-6">
        <img class="w-100 mb-3 rounded shadow" src="/files/{{ title | slugify }}-header.png" />
    </div>
    <div class="col-md-6">
        <h1>{{ title }}</h1>
        {{ content | safe }}
        <a class="btn btn-success" href="/files/{{ title | slugify }}.{{ ext | slugify }}" download="{{ title }}">
            Download Asset
        </a>
    </div>
</div>