<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" class="h-100">
<head>

  <script async src="https://analytics.umami.is/script.js" data-website-id="f590d686-b9a3-4ced-93a4-cbdb77269c63"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preload" href="/bootstrap/css/bootstrap.css" as="style" />
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  
  <link rel="preload" href="/bootstrap/css/bootstrap-icons.css" as="style" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-icons.css">
  
  <link rel="preload" href="/styles.css" as="style" />
  <link rel="stylesheet" href="/styles.css">

  <link rel="icon" href="/branding/barrel.png">
  <title>{{ title }} | Public Domain Game Assets</title>

  <meta name="description" content="{{ description }}">

</head>
<body class="d-flex flex-column h-100">
  <header>{% include 'nav.njk' %}</header>
  <main class="container mt-3 flex-shrink-0 mb-3 text-light">
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
  <script src="/bootstrap/js/bootstrap.min.js" defer></script>
</body>
</html>